body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

input {
  padding: 12px 15px;
  width: calc(100% - 110px);
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  box-sizing: border-box; /* Adiciona o box-sizing para incluir o padding e border no cálculo da largura */
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 12px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Adiciona uma margem superior para separar o botão da caixa de texto */
  display: inline-block; /* Garante que o botão fique ao lado da caixa de texto */
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.02);
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}

li span {
  cursor: pointer;
  flex-grow: 1;
  text-align: left;
}

.edit-group {
  display: flex;
  align-items: center;
}

.edit-group input {
  padding: 8px 10px;
  width: calc(100% - 70px);
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.edit-group button {
  padding: 8px 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.edit-group button:hover {
  background-color: #218838;
}

.action-buttons {
  display: flex;
  gap: 5px;
}

.action-buttons button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons button:hover {
  background-color: #ff3333;
}
